@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply text-3xl font-medium mb-2;
    }

    label {
        @apply text-lg block font-medium;
    }
}

@layer components {
    .btn-navbar {
        @apply bg-orange-600 text-white py-1 px-4 rounded hover:bg-orange-700 active:bg-orange-900;
    }

    .btn-primary {
        @apply bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 active:bg-indigo-700;
    }

    .btn-secondary {
        @apply text-indigo-500 p-2 font-medium rounded hover:bg-indigo-100 hover:text-indigo-700 active:bg-indigo-200;
    }

    .btn-color-red {
        @apply bg-red-500 hover:bg-red-600 active:bg-red-700
    }

    .txt-primary {
        @apply border border-gray-400 p-2 w-full rounded ml-2 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500;
    }

    .txt-search {
        @apply border border-gray-400 w-1/4 px-1 rounded focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 mt-auto;
    }

    .window-primary {
        @apply bg-white p-6 rounded-lg shadow-2xl w-full max-w-7xl mx-auto my-10 pb-2;
    }

    .form-primary {
        @apply px-2 mb-2 flex flex-col gap-4
    }
    
    .user-table {
        @apply text-left rounded-lg;
    }

    .user-table-header {
        @apply font-medium text-gray-700 border-b border-gray-500;
    }

    .user-table-body {
        @apply border-t border-gray-200;
    }

    .table-row-button {
        @apply hover:bg-gray-200 active:bg-gray-300
    }

    .dropdown-menu-window-primary {
        @apply absolute shadow-2xl pl-2
    }

    .dropdown-menu-header-primary {
        @apply overflow-hidden
    }

    .dropdown-menu-button-primary {
        @apply w-full py-3 bg-white border-gray-400 border-t px-10 rounded hover:bg-gray-300 active:bg-gray-500;
    }

    .btn-logout {
        @apply text-sm rounded text-indigo-500 font-medium;
    }

    .account-leaflet {
        @apply flex flex-row mt-auto mr-4 bg-white rounded p-3 gap-4
    }

    .account-leaflet-info {
        @apply flex flex-col gap-3
    }

    .profile-picture {
        @apply cursor-pointer border-indigo-500 rounded-full border-2 aspect-square
    }

    .journal-data {
        @apply text-lg p-1;
    }
}